html {
  font-size: 16px;
  scrollbar-gutter: auto;
  background-color: #fbfbff;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #2e2d37;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fbfbff;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #2563eb;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.lg-div img {
  height: 45px;
}

.nav-container {
  height: 100%;
  width: 100% ;
  display: flex;
  gap: 25rem;
  align-items: center;
  padding-left: 15rem;
}

.left-nav-container,
.right-nav-container{
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.lg-div {
  height: 100%;
  display: flex;
  align-items: center;
}

.lg-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-left: 10px;
}

.buscador-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buscador {
  border: 1px solid #ffffff4d;
  background-color: #ffffff33;
  border-radius: 6px;
  width: 320px;
  height: 65%;
  padding-left: 2%;
  padding-top: 3%;
  font-size: 14px;
  outline: none;
}

.buscador:focus {
  border: 2px solid #fff;
}

.bs-label {
  position: absolute;
  left: 3%;
  font-size: 14px;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #ffffff99;
}

.buscador:focus ~ .bs-label {
  top: 22%;
  font-weight: 600;
  font-size: 10px;
}

.bs-svg {
  position: relative;
  right: 10%;
  cursor: pointer;
}

.bs-svg path {
  color: #ffffffcc;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 4%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 1.25rem;
  list-style: none;
}

.nav-link {
  padding: 0.625rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.9375rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: #ffffff1a;
}

.right-itens {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.perfil-btn,
.favorites-btn {
  /* position: relative; */
  /* right: -10%; */

  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  background-color: transparent;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.perfil-btn:hover,
.favoritos:hover {
  background-color: #ffffff1a;
}

.perfil-name{
  color: #fff;
}

.hero-section{
  background: linear-gradient(135deg, #2563eb 0%, rgb(37, 100, 235, 0.9) 100%);
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 6%;
}

.hero-infor{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 5%;
}

.hero-title{
  color: #fff;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 5%;
}

.hero-subtitle{
  color: #ffffffea;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 100;
  margin-bottom: 10%;
}

.hero-buttons{
  display: flex;
  gap: 5%;
}

.cta-button{
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 3% 5%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cta-button.primeiro{
  background-color: #fff;
  color: #3a7afe;
}

.cta-button.segundo{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.cta-button.primeiro:hover{
  transform: translateY(-2%);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background-color: #fbfbff;
}

.cta-button.segundo:hover{
  transform: translateY(-4%);
  background-color: #fff;
  color: #3a7afe;
}

.como_funciona-section{
  position: relative;
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.section-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

.section-title{
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  max-width: 700px;
  margin-bottom: 3%;
}

.section-subtitle{
  font-size: 16px;
  max-width: 60%;
  color: #6a6977;
}

.timeline{
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-line{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #2563eb;
}

.timeline-item{
  position: relative;
  width: 100%;
}

.timeline-content{
  padding: 1.5%;
  border: 1px solid #d6d6d6;
  width: 25%;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 15%;
}

.timeline-content.reverse{
  margin-left: auto;
  margin-right: 15%;
}

.timeline-number{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.125rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2563eb;
  color: #fff;
}

.tml_cont-header{
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

.timeline-icon{
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-icon.primary,
.timeline-icon.primary path{
  background-color: #2563eb1a;
  color: #3a7afe;
}

.timeline-icon.accent,
.timeline-icon.accent path{
  background-color: #f59e0b1a;
  color: #f59e0b;
}

.timeline-icon svg{
  width: 1.5rem;
}

.tml_cont-title{
  font-size: 1.25rem;
}

.tml_cont-subtitle{
  font-size: 0.9rem;
}

.cta_timeline-container{
  position: relative;
  width: 60%;
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  background-color: #2563eb;
}

.cta_tml_cont-title{
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.cta_tml_cont-subtitle{
  color: #fff;
  margin-bottom: 4%;
}

.cta_tml-button{
  background-color: #fff;
  border: none;
  color: #2563eb;
  font-size: 1rem;
  padding: 2% 2%;
  border-radius: 8px;
  font-weight: 800;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cta_tml-button:hover{
  transform: translateY(-2%);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background-color: #fbfbff;
}

.cta_timeline-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 4px;
  height: 20vh; /* ajusta automaticamente com base no espaçamento */
  background-color: #2563eb;
}