@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    background-color: #fcfcfc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000bb;
}

form{
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #00000038;
}

.titulo{
    font-size: 22px;
    text-align: center;
    margin-bottom: 3%;
}

.titulo span{
    color: #5176f0c7;
}

.informacao{
    margin-bottom: 5%;
}

.informacao h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.input_button{
    width: 90%;
    height: 12%;
    margin-top: 7%;
}

.input_button a{
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    background-color: #5176f0c7;
    cursor: pointer;
}

.input_button a:hover{
    background-color: #233a86c7;
}