@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: "DM Serif Display", serif;
    */
    font-family: "Lato", sans-serif;
}

body{
    background-color: #fcfcfc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000bb;
}

.container{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 70%;
    height: 80vh;
    box-shadow: 0px 0px 8px 0px #00000038;
}

.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
}

.titulo{
    width: 80%;
    margin-bottom: 5%;
}

.titulo h1{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #000000bb;
}

.input_box{
    position: relative;
    width: 80%;
    height: 10%;
    margin-bottom: 5%;
}

.input_boxF{
    position: relative;
    width: 80%;
    height: 10%;
}

input{
    background-color: #fcfcfc;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #777777;
}

input::placeholder{
    color: #727272;
}

i{
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #727272;
}

.input_termos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.input_termos p{
    color: #000000bb;
    width: 80%;
    font-size: 14px;
}

.input_termos a{
    color: #3434a3;
    text-decoration: none;
}

.input_termos a:hover{
    color: #272777;
    text-decoration: underline;
}

.input_button{
    width: 80%;
    height: 8%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.input_button a{
    width: 100%;
}

.cadastrar{
    font-size: 22px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    color: #fcfcfc;
    background-color: #5176f0c7;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastrar:hover{
    background-color: #233a86c7;
}